<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    />
    <title>Activity Tracker</title>
  </head>
  <body>
    <div class="container">
      <h1 class="my-5 text-center">
        Time tracking app
      </h1>
    </div>
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.slim.min.js"></script>
    <script src="https://unpkg.com/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script>
      const decodedJson = decodeURIComponent("{{{encodedJson}}}");
    </script>
    {{!-- <script src="public/main.js"></script> --}}
  </body>
</html>
